<div class="contact-container">
    <h2><mat-icon>mail</mat-icon> Contact / Hire Me</h2>
    <form>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Message</mat-label>
            <textarea matInput rows="5" required></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
    </div>