<div class="skills-container">
    <h2>Skills</h2>

    <div class="skills-grid">
        <div class="skill-category">
            <h3>Technical Skills</h3>
            <apx-chart [series]="technicalSkillsChart.series" [chart]="technicalSkillsChart.chart"
                [xaxis]="technicalSkillsChart.xaxis ?? {}" [yaxis]="technicalSkillsChart.yaxis ?? {}"
                [fill]="technicalSkillsChart.fill" [plotOptions]="technicalSkillsChart.plotOptions"
                [dataLabels]="technicalSkillsChart.dataLabels" [grid]="technicalSkillsChart.grid ?? {}"
                [theme]="technicalSkillsChart.theme" [legend]="technicalSkillsChart.legend"
                [tooltip]="technicalSkillsChart.tooltip">
            </apx-chart>
        </div>

        <div class="skill-category">
            <h3>DevOps & Tools</h3>
            <apx-chart [series]="devOpsChart.series" [chart]="devOpsChart.chart" [xaxis]="devOpsChart.xaxis ?? {}"
                [yaxis]="devOpsChart.yaxis ?? {}" [fill]="devOpsChart.fill" [plotOptions]="devOpsChart.plotOptions"
                [dataLabels]="devOpsChart.dataLabels" [grid]="devOpsChart.grid ?? {}" [theme]="devOpsChart.theme"
                [legend]="devOpsChart.legend" [tooltip]="devOpsChart.tooltip">
            </apx-chart>
        </div>

        <div class="skill-category">
            <h3>Project & Methodologies</h3>
            <apx-chart [series]="projectChart.series" [chart]="projectChart.chart" [labels]="projectChart.labels?? []"
                [colors]="projectChart.colors?? []" [fill]="projectChart.fill" [plotOptions]="projectChart.plotOptions"
                [dataLabels]="projectChart.dataLabels" [theme]="projectChart.theme" [legend]="projectChart.legend"
                [tooltip]="projectChart.tooltip">
            </apx-chart>
        </div>

        <div class="skill-category">
            <h3>Soft Skills</h3>
            <apx-chart [series]="softSkillsChart.series" [chart]="softSkillsChart.chart"
                [labels]="softSkillsChart.labels ?? []" [colors]="softSkillsChart.colors ?? []" [fill]="softSkillsChart.fill"
                [plotOptions]="softSkillsChart.plotOptions" [dataLabels]="softSkillsChart.dataLabels"
                [theme]="softSkillsChart.theme" [legend]="softSkillsChart.legend" [tooltip]="softSkillsChart.tooltip">
            </apx-chart>
        </div>
    </div>
</div>