<div class="skills-container">
    <h2>Skills</h2>
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis" [fill]="chartOptions.fill" [stroke]="chartOptions.stroke"
        [markers]="chartOptions.markers" [dataLabels]="chartOptions.dataLabels" [theme]="chartOptions.theme"
        [legend]="chartOptions.legend" [tooltip]="chartOptions.tooltip"
        style="max-width: 500px; margin: 0 auto;"></apx-chart>
    </div>